# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/gmp?schema=public"

# Auth.js
AUTH_SECRET="your-auth-secret"
BETTER_AUTH_SECRET="your-better-auth-secret"

# URL publique du site (utilisée pour le sitemap et les balises Open Graph)
NEXT_PUBLIC_APP_URL="https://gmp.iut-evry.fr"

# Prisma
PRISMA_LOG_QUERIES=false
